# Replace with your LaunchDarkly Server-Side SDK Key (found in Project Settings -> Environments)
LD_SDK_KEY="your-server-side-sdk-key-here"

# Replace with your LaunchDarkly Client-Side ID (found in Project Settings -> Environments)
LD_CLIENT_ID="your-client-side-id-here"
